* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: rebeccapurple; */
    height: 100vh;
}

header {
    background-color: gold;
    height: 60px;
    display: flex;
    /* flex-direction: column; */
}

span {
    background-color: aquamarine;
}

main {
    background-color: blue;
    height: 95vh;
}

.logo-and-burger {
    background-color: yellowgreen;
    width: 15%;
    display: flex;
}

.join {
    background-color: blueviolet;
    width: 10%;
}

.links {
    background-color: bisque;
    width: 75%;
}

.burger {
    background-color: aqua;
    width: 50%;
}

.logo {
    background-color: brown;
    width: 50%;
}